spring:
  application:
    name: catalogue-service
  cloud:
    config:
      enabled: false
  datasource:
    url: jdbc:h2:mem:cataloguedb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: false
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.gestion.catalogue: INFO
    org.springframework.cloud: DEBUG
